/* [project]/src/styles/Home.module.css [client] (css) */
.Home-module__Ho9lYW__card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px #0000001a;
  padding: 20px;
  text-align: center;
  transition: transform .3s, box-shadow .3s;
  max-width: 250px;
  overflow: hidden;
}

.Home-module__Ho9lYW__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px #0003;
}

.Home-module__Ho9lYW__sprite {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home-module__Ho9lYW__sprite img {
  border-radius: 50%;
  background: #f7f7f7;
  padding: 5px;
  box-shadow: 0 2px 4px #0000001a;
}

.Home-module__Ho9lYW__card h2 {
  font-size: 1.5rem;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.Home-module__Ho9lYW__types {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 15px;
}

.Home-module__Ho9lYW__types span {
  background: #e0e0e0;
  color: #fff;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: .9rem;
  text-transform: capitalize;
  font-weight: bold;
}

.Home-module__Ho9lYW__types .Home-module__Ho9lYW__fire {
  background: #f08030;
}

.Home-module__Ho9lYW__types .Home-module__Ho9lYW__water {
  background: #6890f0;
}

.Home-module__Ho9lYW__types .Home-module__Ho9lYW__grass {
  background: #78c850;
}

.Home-module__Ho9lYW__types .Home-module__Ho9lYW__electric {
  background: #f8d030;
}

.Home-module__Ho9lYW__types .Home-module__Ho9lYW__psychic {
  background: #f85888;
}

.Home-module__Ho9lYW__types .Home-module__Ho9lYW__ice {
  background: #98d8d8;
}

.Home-module__Ho9lYW__types .Home-module__Ho9lYW__dragon {
  background: #7038f8;
}

.Home-module__Ho9lYW__types .Home-module__Ho9lYW__fairy {
  background: #f0b6bc;
}

.Home-module__Ho9lYW__types .Home-module__Ho9lYW__dark {
  background: #705848;
}

.Home-module__Ho9lYW__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.Home-module__Ho9lYW__likeButton, .Home-module__Ho9lYW__dislikeButton {
  margin-left: 14px;
  background: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s;
}

.Home-module__Ho9lYW__likeButton:hover {
  background: #005bb5;
}

.Home-module__Ho9lYW__dislikeButton:hover {
  background: #d32f2f;
}

.Home-module__Ho9lYW__pokemonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.Home-module__Ho9lYW__buttonPagination {
  padding: 10px 20px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s, transform .2s;
  box-shadow: 0 2px 4px #0000001a;
  margin-right: 5px;
  margin-top: 15px;
}

.Home-module__Ho9lYW__buttoPagination:active {
  transform: translateY(1px);
  box-shadow: none;
}

.Home-module__Ho9lYW__buttonPagination:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  box-shadow: none;
}

/*# sourceMappingURL=src_styles_Home_module_735113.css.map*/