/* Estilo da página */
/* Card principal */
.card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 250px;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo do sprite */
.sprite {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprite img {
  border-radius: 50%;
  background: #f7f7f7;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Nome do Pokémon */
.card h2 {
  font-size: 1.5rem;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 10px;
}

/* Tipos do Pokémon */
.types {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 15px;
}

.types span {
  background: #e0e0e0;
  color: #fff;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: bold;
}

.types .fire {
  background: #f08030;
}

.types .water {
  background: #6890f0;
}

.types .grass {
  background: #78c850;
}

.types .electric {
  background: #f8d030;
}

.types .psychic {
  background: #f85888;
}

.types .ice {
  background: #98d8d8;
}

.types .dragon {
  background: #7038f8;
}

.types .fairy {
  background: #f0b6bc;
}

.types .dark {
  background: #705848;
}

/* Botões de ações */
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.likeButton,
.dislikeButton {
  margin-left: 14px;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.likeButton:hover {
  background: #005bb5;
}

.dislikeButton:hover {
  background: #d32f2f;
}

/* Grid responsivo (sem alterações) */
.pokemonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.buttonPagination {
  
  padding: 10px 20px;
  background-color: #0070f3; 
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 5;
  margin-top: 15;
}



.buttoPagination:active {
  transform: translateY(1px);
  box-shadow: none;
}

.buttonPagination:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  box-shadow: none;
}
